
.leaflet-container {
    height:clamp(30.625rem, 30.625rem + 0vw, 30.625rem);
    width:clamp(19.375rem, 10.75rem + 43.125vw, 62.5rem);
    margin: 0 auto;
}
  
.markerGeology{
    filter:invert(36%) sepia(100%) saturate(677%) hue-rotate(167deg) brightness(95%) contrast(86%);
}

.markerRich{
    filter:invert(75%) sepia(61%) saturate(706%) hue-rotate(357deg) brightness(98%) contrast(107%);
}

.markerStrong{
    filter:invert(25%) sepia(77%) saturate(5313%) hue-rotate(341deg) brightness(92%) contrast(108%);
}

.markerAll{
    filter:invert(0%) sepia(83%) saturate(7500%) hue-rotate(210deg) brightness(115%) contrast(115%);
}
  
  .leaflet-popup-content-wrapper {
    background: yellow;
    color: #333;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    border-radius: 50%;
    text-align: center;
    font-family: bangers;
    border: 2px solid black;
  }

  .leaflet-popup-tip{
    background: yellow;
    border: 2px solid black;
    z-index: 10;
  }
  
  .mapComponentsContainer{
    width:100%;
    background:black;
  }

  .descriptionPopup{
    width:300px;
    height: 100px;
    border-radius:0 50% 50% 50%;
    background:#FECB0099;
    font-family: bangers;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    position: relative;
    
  }

  .closeButton{
    position: absolute;
    top:3px;
    left:3px;
    background: transparent;
  }