@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frontPage {
  font-family: "Bangers", cursive;
}
h1 {
  font-size: clamp(3.4375rem, 2.875rem + 2.8125vw, 6.25rem);
  font-weight: bolder;
  margin: 0;
  text-align: center;
}

h2 {
  width: clamp(320px, 50vw, 350px);
  text-align: center;
}

a {
  text-decoration: none;
}

.frontPageButtons {
  max-width: 50%;
  margin: 2rem 0;
  padding: 5px 5px;
  text-align: center;
  font-family: "Bangers", cursive;
  font-size: 18px;
  letter-spacing: 0.2rem;
  border: 0.4rem solid #000;
  position: relative;
  color: black;
  margin: 15px auto;
}

.frontPageButtons:before {
  content: "";
  position: absolute;
  left: -15px;
  top: 1rem;
  width: 100%;
  height: 100%;
  background-color: white;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
  z-index: -1;
}
.frontPageTitles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frontPageBackgroundOne {
  background-color: #1c80bc;
}

.frontPageBackgroundTwo {
  background-color: #f41532;
}

.frontPageStar {
  height: 95vh;

  filter: drop-shadow(30px 10px 4px #000000);
  background: url(../Assets/Images/star.png);
  background-repeat: no-repeat;
  background-size: clamp(600px, 45vw, 700px);
  background-position: center;
}
