.heroStatsLoader{
    display:flex;
    flex-direction:column;
    align-items: center;
    border: 0.4rem solid #000;
    width:clamp(18.75rem, 18rem + 3.75vw, 22.5rem);
    height:clamp(31.5rem, 31.25rem + 0vw, 31.5rem);
    max-width: 96%;
    margin:0 auto;
    margin-bottom:1rem;
}

.loadingWrapper{
    margin:0.5rem 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.loadingH3{
    position:relative;
    text-align:center;
    font-size: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
    font-family: "Bangers", cursive;
    border: 0.4rem solid #000;
    margin:1rem auto;
    background-color: #fecb00;
    padding:5px 5px;
}

.loadingH3:before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:1rem;
    right:7.5%;
    z-index: -1;
    background-color:white;
    border: 0.4rem solid #000;
}

.loadingSpinner{
    margin:5rem auto;
}

.loadingP{
    position: relative;
    background-color: #1c80bc;
    font-family: "Bangers", cursive;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    border: 0.4rem solid #000;
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom:2rem;
}

.loadingP:before{
    position: absolute;
    z-index: -1;
    content:'';
    width:100%;
    height:100%;
    top:1.1rem;
    right:7.5%;
    background-color:white;
    border: 0.4rem solid #000;
}

@media (min-width:700px) and (max-width:1077px){
    .heroStatsLoader{
        width:clamp(28.125rem, -32.9705rem + 195.5056vw, 60.75rem);
        max-height:7.5rem;
        flex-direction: row;
        justify-content: center;
        margin-top:-1rem;
        max-width:80%;
    }
    .loadingWrapper{
        flex-direction: row;
        max-width: 90%;
        gap:2rem;
    }
}