.formContainer{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

form{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
    border: 0.4rem solid #000;
    padding:1rem 0.5rem;
    min-height:11.5rem;
    
}

input, label{
    font-family: "Bangers", cursive;
    text-align: center;
    font-size: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
}

input{
    cursor: pointer;
}

.queryContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.queryLabel{
    position: relative;
    background-color: #1c80bc;
    font-family: "Bangers", cursive;
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
    border: 0.4rem solid #000;
    padding:5px 5px;
}

.queryLabel:before{
    position: absolute;
    z-index: -1;
    content:'';
    width:100%;
    height:100%;
    top:1rem;
    background-color:white;
    border: 0.4rem solid #000;
}

.lastTwentyFour{
    border: 0.4rem solid #000;
    width:15rem;
    height:11.5rem;
    margin:0 auto;
}

.checkboxContainer{
    position: relative;
    cursor:pointer;
    margin-top: 1rem;
}

.checkboxContainer:before{
    right:15%;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 200%;
    left: 35%;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 1;
}

.checkboxContainer:hover input ~ .checkmark {
    background-color: #fecb00;
}

.checkboxContainer:focus input ~ .checkmark {
    background-color: #fecb00;
}

.checkboxContainer input:checked ~ .checkmark {
    background-color: #f41532;
}

.checkmark {
    position: absolute;
    top: 200%;
    left: 35%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #eee;
    border: 0.4rem solid #000;
}

.placeQuery:before{
    right:15%;
}

.placeInput{
    width:15rem;
    border: 0.4rem solid #000;
    margin-top:1rem;
}

.placeInput:hover{
    background-color: #fecb00;
}

.placeInput:focus{
    background-color: #fecb00;
    outline:none;
}

.magLabel{
    width:10rem;
}

.magLabel:before{
    right:15%;
}

.magSlider{
    width:12.5rem;
    margin-top:0.25rem;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}
/* CHROME */
input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, rgba(28,128,188,1) 0%, rgba(254,203,0,1) 50%, rgba(244,21,50,1) 100%);
    height: 0.5rem;
    margin-top:1rem;
}
/* FIREFOX */
input[type="range"]::-moz-range-track {
    background: linear-gradient(90deg, rgba(28,128,188,1) 0%, rgba(254,203,0,1) 50%, rgba(244,21,50,1) 100%);
    height: 0.5rem;
}
/* CHROME */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -8px;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;    
    border:0.2rem solid #000;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover{
    background-color:#fecb00;
}

input[type="range"]::-webkit-slider-thumb:focus{
    background-color:#fecb00;
}
/* FIREFOX */
input[type="range"]::-moz-range-thumb {
    border: none;
    background-color: white;
    height: 1rem;
    width: 1rem;
    border:0.2rem solid #000;
}

input[type="range"]::-moz-range-thumb:hover{
    background-color:#fecb00;
}

input[type="range"]::-moz-range-thumb:focus{
    background-color:#fecb00;
}

.dateLabel:before{
    right:20%;
}

.dateInput{
    border: 0.4rem solid #000;
    margin-top:1rem;
}

.dateInput:hover{
    background-color:#fecb00;
}

.dateInput:focus{
    background-color:#fecb00;
}

@media (min-width:1199px) {
    .formContainer{
        flex-direction: row;
        justify-content: center;
    }
    
    form{
        flex-wrap:nowrap;
    }
}
